[Unit]
Description=Execute configuration synchronization every day at midnight

[Timer]
OnCalendar=*-*-* 00:03:00
Unit=fmsync2.service

[Install]
WantedBy=multi-user.target